{% extends 'base.html' %}
{% load custom_filters  %}

{% block title %}
  {{ article.title|default:"Article Detail" }}
{% endblock %}


{% block body %}

  {% if article %}
  <div class="container mt-5">
    <div class="card">
      <div class="card-header">
        <h1>{{ article.title }}</h1>
      </div>
      <div class="card-body">
        <p>{% get_article_content article  %}</p>
      </div>

    </div>

    <h2>Комментарии</h2>
    <div class="card mt-3">
      <ul class="list-group">
        {% for comment in article.comments.all %}
          <li class="list-group-item">
            <p>{{ comment.content }}</p>
            <small>{{ comment.created_at }}</small>
          </li>
        {% endfor %}
      </ul>

      <h3>Добавить комментарий</h3>
      <form method="post">
        {% csrf_token  %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-success">Отправить</button>
      </form>
    </div>
  </div>

  {% else %}
    <h1>Article not found</h1>
  {% endif %}


{% endblock %}
