{% extends 'base.html' %}

{% block title %}
  My articles
{% endblock %}


{% block body %}

<div class="mt-4">
  <h1>Список постов</h1>
  <form  method="get" class="mb-3">
    <div class="row">
      <div class="col-md-4">
        <input type="text" name="author" class="form-control" placeholder="Автор" value="{{ request.GET.author }}">
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary">Фильтр</button>
      </div>
    </div>
  </form>

  <ul class="list-group">
    {% for article in articles %}
      <li class="list-group-item">
        <a href="{% url 'article_detail' article.human_readable_title %}">{{ article.title }}</a>
      </li>
    {% empty %}
      <li class="list-group-item">Нет статей для отображения.</li>
    {% endfor %}
  </ul>

  <nav aria-label="Pagination" class="mt-4">
    <ul class="pagination">
      {% if page_obj.has_previous  %}
        {% if author  %}
          <li class="page-item"><a href="?author={{ author }}&page=1" class="page-link">Первая</a></li>
          <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">Назад</a></li>
        {% else %}
          <li class="page-item"><a href="?page=1" class="page-link">Первая</a></li>
          <li class="page-item"><a href="?page={{ page_obj.previous_page_number }}" class="page-link">Назад</a></li>
        {% endif %}
      {% endif %}
      <li class="page-item disabled"><span class="page-link">Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}</span></li>
      {% if page_obj.has_next  %}
        {% if author %}
          <li class="page-item"><a href="?author={{ author }}&page={{ page_obj.next_page_number }}" class="page-link">Далее</a></li>
          <li class="page-item"><a href="?author={{ author }}&page={{ page_obj.paginator.num_pages }}" class="page-link">Последняя</a></li>
        {% else %}
          <li class="page-item"><a href="?page={{ page_obj.next_page_number }}" class="page-link">Далее</a></li>
          <li class="page-item"><a href="?page={{ page_obj.paginator.num_pages }}" class="page-link">Последняя</a></li>
        {% endif %}
      {% endif %}
    </ul>
  </nav>

</div>

{% endblock %}
